@font-face{
	font-family: 'Lato', sans-serif;
}

html{
	background-image:url(fondo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
}

h1{
	font-family:  'Lato', sans-serif;
	margin: 20px;
	color: #000;
}

h2{
	color: #dee5e4	;
}

#contenedorForma{
	width:600px;
	background-color:rgba(0,0,0,0.51);
	padding: 35px 45px 35px 50px;
	margin:auto;
	margin-top:65px;
	border-radius:9px;
	
}

.input{
	 color:#3c3c3c;
	 font-family:principal;
	 font-size:18px;
	 line-height:22px;
	 background-color:#fbfbfb;
	 padding: 13px 13px 13px 54px;
	 margin-bottom:10px;
	 width:100%;
	 box-sizing:border-box;
}
 
 .input:focus{
	 background-color:#fff;
	 border: 3px solid #3498db;
	 color:color:#1b8f31;
	 padding: 13px 13px 13px 54px;
	 
}
#titulo{
	 background-image:url(persona.png);
	 background-size: 30px 30px;
	 background-position: 11px 11px;
	 background-repeat: no-repeat;
	 
 }
 #descripcion{
	 background-image:url(mensaje.png);
	 background-size: 30px 30px;
	 background-position: 11px 11px;
	 background-repeat: no-repeat;
	 
 }
 
 textarea{
	 width:100%;
	 height:150px;
	 line-height:150%;
	 resize:vertical;
}
#terminos{
	font-family: principal;
	text-align: center;
	color: #fff;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 0px;

} 

